extends layout

block content
  h3 Challenge!
  p Follow these steps to play:
  ul
    li Download the Word Gravity app on <a href="play.google.com">Google Play</a> 
    li Then, click <a href=#{challenge_url}>here</a> to accept the challenge on your mobile device
  