extends layout

block content
  div.challenge
    h3 Challenge!
    p Follow these steps to play:
    ul
      li Download the Word Gravity app on <a href="https://play.google.com/store/apps/details?id=com.TartleGames.WordRocket">Google Play</a> 
      li Open the app and register a name
      li Then, click <a href=#{challenge_url}>here</a> to accept the challenge on your mobile device
  